@import './main.css';
@import url('/static/fonts/Aeonik/ttf/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Aeonik, system-ui, sans-serif;
    }
    ul {
        list-style: disc;
    }
    ol {
        list-style: revert;
    }
}

@layer components {
    .heading-1 {
        @apply text-2xl font-medium
    }
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: Aeonik, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
    tab-size: 4;
    scroll-behavior: smooth;
}

body {
    font-family: inherit;
    line-height: inherit;
    margin: 0;
}

tbody > tr {
    border: none;
    background-color: white;
    box-shadow: rgba(173, 173, 173, 0.25) 0 7px 4px;
    /*box-shadow: 0 0 2rem transparentize( black, 0.9 );*/
}